
/*Otro del formilario*/
 *{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
 }
 .formulario{
	 width: 400px;
	 background: #24303c;
	 padding: 10px;
	 margin: auto;
	 margin-top: 10px;
	 border-radius: 4px;
	 font-family: 'calibri';
	 color:#ffffff;
	 text-align: center;	 
 }

.botonenes{
	width: 90%;
	background: #1f53c5;
	border:none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;

}

.botonenes:hover{
	background-color: #1295c9;
}

/* Botones para dar estilo al registro*/
a.boton{
	margin-top: 100px;
	position: relative;
	display: block;
	padding: 20px 10px;
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
	max-width: 320px;
	height: 65px;
	margin-bottom: 25px;
	overflow: hidden;
	color:rgba(255,255,255,1);
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background:#1059b8;
}
 
a.boton:after,
a.boton:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}
 
a.boton:before{
	left: -48%;
}
 
a.boton:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#1295c9;
	color: #ffffff;
	text-decoration: none;
}
 
a.boton:hover:after,
a.boton:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}
 
a.boton:hover:after{
	right: 130%;
}
 
a.boton:hover:before{
	left: 130%;
}